@model VaruosadAPI.Models.SparePartsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SparePartsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warehouse1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warehouse2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warehouse3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warehouse4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WareHouse5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WareHouse5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warehouse6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WithoutVAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WithoutVAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
